.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 2rem 0;
  height: 100%;

  background-color: #fff;
  box-shadow: 3px 0 3px rgba(0, 0, 0, .1);

  &__avatar {
    padding-left: 2rem;
  }

  &__footer {
    padding-left: 18%;
  }
}

.avatar-large {
  width: 10rem;
  height: 10rem;
}