@import '../../utils/vars';

.buyer {
  padding: 1em 2.5em;
  width: 100%;
  max-width: 48rem;
  height: 30em;

  font-size: 2rem;
  background-color: #fff;
  box-shadow: $box-shadow;
  border-radius: 4px;

  @media (max-width: 768px) {
    font-size: 1.8rem;
  }

  @media (max-width: 425px) {
    font-size: 1.5rem;
  }

  &__title {
    padding-bottom: 1em;
    margin-bottom: 5em;

    font-size: 1.5em;
    color: $title;
    text-transform: uppercase;
    text-align: center;

    border-bottom: 2px solid $divider;

    @media (max-width: 768px) {
      margin-bottom: 4em;
    }
  }

  &__data-list {
    padding: 0;
    margin: 0;
    margin-bottom: .5em;

    list-style: none;
    border-bottom: 2px solid $divider;

    @media (max-width: 425px) {
      font-size: 1.2em;
    }
  }

  &__data-item {
    margin-bottom: 1.5em;

    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.7);

    &:last-child {
      margin-bottom: 5em;
    }
  }

  &__data-value {
    margin-left: .7rem;

    color: #000000;
    font-weight: 700;
  }

  &__total {
    @media (max-width: 425px) {
      font-size: 1.2em;
    }
  }
}