.App {
  display: flex;
  height: 100%;
  background-color: lightgrey;

  &__sidebar {
    padding: 2rem;
    max-width: 30rem;
    width: 100%;
    background-color: lightgreen;
    height: 100%;
  }

  &__content {
    padding: 2rem;
  }
}