@import './utils/vars';

.App {
  position: relative;
  display: flex;
  min-height: 100%;
  background-color: $background-color;

  &__sidebar-wrapper {
    display: flex;
    position: relative;
    height: 100vh;
    max-width: 28rem;
    width: 100%;
    transition: transform .7s;

    &_hidden {
      display: none;
    }

    @media (max-width: 998px) {
      position: absolute;
      transform: translateX(-23rem);
      z-index: 11;
      height: 5rem;

      &_visible {
        transform: translateX(0);
        height: 100vh;
      }
    }
  }

  &__sidebar {
    margin-right: 1rem;
    max-width: 23rem;
    width: 100%;
    height: 100%;
    transition: transform .7s;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 2rem;
    overflow-y: scroll;

    @media (max-width: 998px) {
      padding-top: 5rem;
      padding-left: 2rem;
    }

    @media (max-width: 576px) {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}
